name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true

      - name: Install old Bundler (2.4.22)
        run: gem install bundler -v 2.4.22

      - name: Install dependencies
        run: bundle _2.4.22_ install --jobs 4 --retry 3

      - name: Run tests
        run: bundle _2.4.22_ exec rake
